@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: "Space Mono", sans-serif;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splitter {
    color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.card {
    background-color: white;
    margin-top: 8rem;
    padding: 1rem;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.calculation {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bill-calculation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

label {
    font-size: 0.7rem;
    display: block;
}

.bill-alert, 
.people-input-alert,
.tip-percentage-alert {
    right: 0;
    position: absolute;
    font-size: 0.7rem;
    color: red;
    display: none;
}

.bill-calculation img {
    position: absolute;
    top: 50%;
    transform: translate(100%, 50%);
}

input {
    font-family: inherit;
    background-color: hsl(189, 47%, 97%);
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    text-align: right;
    cursor: pointer;
}

input:focus {
    outline: 2px hsl(172, 67%, 45%) solid;
}

.tip-percentage {
    font-family: inherit;
    background-color: rgb(0, 73, 77);
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.tip-btn.active {
    background-color: rgb(134, 229, 216);
    color: white;
}

.tip-percentage:hover {
    background-color: rgb(38, 192, 171);
    color: rgb(0, 73, 77);
}

.custom-tip-percentage {
    font-family: inherit;
    color: rgb(0, 73, 77);
    background-color: hsl(189, 47%, 97%);
    border: none;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}

.custom-tip-percentage:hover {
    border: 1px solid rgb(38, 192, 171);
}

.tip-selection {
    position: relative;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tip-selection h4 {
    font-size: 0.7rem;
}

.percentage-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30px 30px;
    gap: 5px;
}

.percentage-buttons input {
    display: none;
}

.no-of-people-selection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.no-of-people-selection img {
    position: absolute;
    top: 50%;
    transform: translate(100%, 50%);
}

.results {
    background-color: rgb(0, 73, 77);
    border-radius: 7px;
    padding: 1rem;
}

.results-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 15rem;
}

.results-container h1 {
    color: hsl(172, 67%, 45%);
}

.results h5 {
    font-size: 0.7rem;
    color: white;
}

.results p {
    font-size: 0.5rem;
    color: hsl(184, 14%, 56%);
}

.results button {
    background-color: hsl(184, 14%, 56%);
    color: rgb(0, 73, 77);
    font-family: inherit;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-top: 1.5rem;
    transition: all 0.15s ease-in-out;
    padding: 10px;
    cursor: pointer;
}

.results button:hover {
    color: white;
    background-color: rgb(38, 192, 171);
}

@media (max-width: 640px) {
    .card {
        grid-template-columns: 1fr;
    }

    .calculation {
        width: 100%;
    }

    .bill-calculation input {
        width: 100%;
    }

    .tip-selection {
        width: 100%;
    }

    .percentage-buttons {
        width: 100%;
    }
}