@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    max-height: 900px;
    font-family: "Space Mono";
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: white;
    margin-top: 8rem;
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.calculation {
}
.bill-calculation {
}

label {
    font-size: 0.7rem;
    display: block;
}

.dollar-icon {
}

input {
    font-family: inherit;
    background-color: hsl(189, 47%, 97%);
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    text-align: right;
}

.tip-percentage {
    font-family: inherit;
    background-color: rgb(0, 73, 77);
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}

.tip-percentage:hover {
    background-color: rgb(38, 192, 171);
    color: rgb(0, 73, 77);
}

.custom-tip-percentage {
    font-family: inherit;
    color: rgb(0, 73, 77);
    background-color: hsl(189, 47%, 97%);
    border: none;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}

.custom-tip-percentage:hover {
    border: 2px solid rgb(38, 192, 171);
}

.tip-selection {
    font-size: 0.7rem;
}

.tip-selection h4 {
    font-size: 0.7rem;
}

.percentage-buttons {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 30px 30px 30px;
    gap: 5px;
}

.no-of-people-selection {
    
}

.results {
    background-color: rgb(0, 73, 77);
    border-radius: 7px;
    padding: 1rem;
}

.results-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 15rem;
}

.results-container h1 {
    color: hsl(172, 67%, 45%);
}

.results h5 {
    font-size: 0.7rem;
    color: white;
}

.results p {
    font-size: 0.5rem;
    color: hsl(184, 14%, 56%);
}

.results button {
    background-color: hsl(184, 14%, 56%);
    color: rgb(0, 73, 77);
    font-family: inherit;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-top: 1.5rem;
    transition: all 0.15s ease-in-out;
}

.results button:hover {
    background-color: rgb(38, 192, 171);
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}